*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
.navbar{
    background-color:black;
    width:100%;
    padding: 20px 0px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;



}